/* @tailwind base; */

.flex {
  display: flex
}

.h-screen {
  height: 100vh
}

.w-full {
  width: 100%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}